<h2>You're nearly there!</h2>
<section class='body'>
  <p>
    Your Purrhub account <%= user.username %> has been created. We just need to verify your email address to complete signup.
  </p>
  <a href="<%= cats_url %>">
    Verify Your Email Address
  </a>

  <p>
    Or paste this link into your browser.
  </p>

  <a href=<%= cats_url %>>
    localhost:3000/cats/
  </a>

  <p>
    If you didn't sign up for Purrhub, please ignore this email.
  </p>
  
  <p>
  Thanks,
  </p>

  <p>
    The Purrhub Team
  </p>
</section>